.PostJustText {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid gray;
    .PostJustText__Link {
        display: flex;
        align-items: center;
        gap: 3rem;
        h2 {
            font-size: 4rem;
        }
    }
    >h2 {
        font-size: 3.2rem;
    }
    p {
        font-size: 2.5rem;
    }
}