.Login {
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    padding: 3rem 2rem;
    height: 58.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        display: none;
    }
    h2 {
        margin-bottom: 2rem;
    }
    .login__form {
        width: 100%;
        .login__formItem {
            display: flex;
            justify-content: center;
            svg {
                color: gray;
            }
        }
        .login-form--lastItem {
            margin-bottom: 0;
        }
        .login-form-button {
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    .Login {
        img {
            display: block;
            filter: invert(100%);
        }
    }
}