.SignUp {
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    padding: 3rem 2rem;
    h2 {
        margin-bottom: 2rem;
    }
    .signup-form--lastItem {
        margin-bottom: 0;
    }
}