.Post {
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgb(209, 209, 209);
    .Post__Author {
        width: 100%;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(209, 209, 209);
        .Post__Author--links {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: min-content;
        }
    }
    .Post__Img {
        width: 100%;
    }
    .Post__Text {
        padding: .5rem 1rem;
        border-bottom: 1px solid rgb(209, 209, 209);
        p {
            margin: 0;
        }
    }
    .Post__Interactions {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        .Post__Interactions--Icons {
            display: flex;
            gap: .5rem;
        }
        .Post__Interactions--Info {
            display: flex;
            gap: 2rem;
            * {
                font-size: 1.4rem;
                margin: 0;
            }
            *:hover {
                color: gray;
            }
        }
    }
}

.Post__ModalItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Post__ModalItem--comments {
        width: 100%;
        margin-top: 2rem;
        .Comments__Container {
            height: calc(100vh - 30rem);
            overflow: auto;
            >div {
                display: flex;
                gap: 2rem;
                align-items: flex-start;
                margin-bottom: 1rem;
                span {
                    width: 3.2rem;
                }
                h3 {
                    width: min-content;
                }
                p {
                    flex: 1;
                }
            }
        }
        >div {
            height: calc(100vh - 30rem);
        }
        form {
            margin-top: 1rem;
        }
    }
    .Post__ModalItem--likes {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        height: calc(100vh - 25.8rem);
        .Likes__Container {
            height: calc(100vh - 28rem);
            overflow: auto;
            .Likes__item {
                display: flex;
                justify-content: space-between;
                .Likes__item--info {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
        .LikeBtn {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}