.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: white;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    .NavBar__bar {
        width: min(95vw, 130rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}