.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.29);
    .NavBar__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .NavBar__bar--right {
            display: flex;
            gap: 2rem;
            button {
                span {
                    font-size: 2.5rem;
                }
            }
        }
        .NavBar__icon {
            height: 4rem;
            width: 9rem;
        }
    }
}

@media (max-width: 550px) {
    .NavBar__Search {
        display: none;
    }
}