.Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 0 1rem;
    -webkit-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.123);
    -moz-box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.123);
    box-shadow: 3px 0 10px 3px rgba(0, 0, 0, 0.123);
    * {
        margin: 0;
        color: rgb(143, 143, 143);
    }
    a *:hover {
        color: rgb(177, 177, 177);
        transition: .3s;
    }
    div {
        display: flex;
        gap: .5rem;
    }
}